@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?f6bm0a');
    src:    url('/fonts/icomoon.eot?f6bm0a#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?f6bm0a') format('truetype'),
        url('/fonts/icomoon.woff?f6bm0a') format('woff'),
        url('/fonts/icomoon.svg?f6bm0a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
    content: "\e900";
}
.icon-zoom:before {
    content: "\e901";
}
.icon-social-twitter:before {
    content: "\e902";
}
.icon-social-facebook:before {
    content: "\e903";
}
.icon-home-outline:before {
    content: "\e904";
}
.icon-lock-open-outline:before {
    content: "\e905";
}
.icon-edit:before {
    content: "\e906";
}

